{% extends 'jinja2/photo_base.html' %}
{% block title %}Photo {{photo}}{% endblock %}
{% block head %}
    {{super()}}
    <script src='/static/js/photo.js'></script>
    
<script>
full_phototags={{full_phototags|jsonify|safe}}    
next_photopaths={{next_photopaths|jsonify|safe}}

$(document).ready(function(){
    setup_phototagselect_photo();
    var select2=$('#phototagselect2').data('select2');
    setTimeout(function() {
        if (!select2.opened()) {
            select2.open();
        }
    }, 0); 
    if (next_photopaths){
        $.each(next_photopaths, function(index,photopath){
            var nxt=new Image();
            nxt.src=photopath;
            console.log('starting to load',photopath)
        })
        
    }
})
</script>

{% endblock %}
{% block content %}
<div style="padding:5px;margin-bottom:5px;">
        <h2>Photo {{photo}}</h2>
        {% if LOCAL %}(Local){% endif %}
</div>


    <div class="photo-info">
        <div id="notification" class="notification-zone">&nbsp;</div>
        {{photo.name_table(include_image=False)|safe}}
        {{photo.info_table()|safe}}
        {{photo.exif_table()|safe}}
        
        
        <div class="tagzone" >
            <h2>Tags</h2>
            <button id="phototagselect2" value="{{photo.tagids()}}"></button>
            <div class="new-tag-button btn"><a href="/admin/day/phototag/add/"><i class="icon-plus"></i>Add</a></div>
        </div><hr>
        {% if photo.day %}
            <div class="daylink">{{photo.day.vlink()|safe}}</div>
        {% endif %}
        {% if photo.photoday %}
            <h2>Photoday</h2> ({{photo.photoday.photos.count()}})
            <div class="photodaylink">{{photo.photoday.vlink()|safe}}</div>
        {% endif %}
        <br>
    </div>
    <div class="photo-display" photoid={{photo.id}}>
        {{photo.inhtml(clink=True,size='scaled')|safe}}
    </div>

<hr>
    


{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}