{% extends 'jinja2/photo_base.html' %}
{% block title %}Photospot {{photospot}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
    var photos={{photo_objs|jsonify|safe}}
    //all photos
    </script>
    <script src="/static/js/photospot.js"></script>
{% endblock %}
{% block content %}
    
    <div class="main-photospot-zone">
        <div class="current-photo">&nbsp;</div>
    </div>
    
    <div class="thumbzone">
    <div><h2>Spot {{photospot}} ({{photos.count()}})</h2></div>
    {% for photo in photos %}
        <div class="photospot-photolink photothumb" photo_id={{photo.id}}>{{photo.inhtml(size='thumb')|safe}}</div>
    {% endfor %}
    <div id="notification" style="clear:right;float:right;" class="notification-zone">Notification zone</div>
    <br><div class="btn btn-default prev-btn">prev</div>
    <div class="btn btn-default next-btn">next</div>
    <div class="btn btn-default save-crops" style="color:red;">Save crops</div>    
    
    {% if LOCAL %}LOCAL{% endif %}
    
    <table class="table thintable" style="width:inherit;">
    <tr><td colspan=3>Crop photos from a given spot using the keyboard:
    <tr><td><b>left/right</b><td>navigate between photos
    <tr><td><b>h</b><td>jump back and forth between this photo, and the first photo. (you should always compare the founding photo, the first one, to the current, rather than sequentially, which would accumulate error.)
    <tr><td><b>wasd</b><td>move photo around (crop it)
    <tr><td><b>x</b><td>kill current photo - disassociate it form this photospot
    </div>
    
    
{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}