{% extends 'jinja2/photo_base.html' %}
{% block title %}Photo {{photo}}{% endblock %}
{% block head %}
    {{super()}}
    
    
<script>
full_phototags={{full_phototags|jsonify|safe}}    
</script>

{% endblock %}
{% block content %}
<div class="row">
    <div class="span8">
        <h2>Photo {{photo}}</h2>
        {% if LOCAL %}(Local){% endif %}
    </div>
</div>

<div class="row"><div class="span8">
    <div id="notification" class="notification-zone">&nbsp;</div>
</div></div>

<div class="row">
    <div class="photo-info">
        {{photo.name_table(include_image=False)|safe}}
        {{photo.info_table()|safe}}
        {{photo.exif_table()|safe}}
        
    </div>
    <div class="photo-display" photoid={{photo.id}}>
        {{photo.inhtml(link=False,size='scaled')|safe}}
    </div>
</div>

<hr>
<div class="row"><div class="span8">
    <div class="tagzone">
        <h2>Tags</h2>
    
        <button id="phototagselect2" value="{{photo.tagids()}}"></button>
        <div class="new-tag-button btn" style="margin-left:50px;"><a href="/admin/day/phototag/add/"><i class="icon-plus"></i>Add</a></div>
    </div><hr>
        {% if photo.day %}
            <div class="daylink">{{photo.day.vlink()|safe}}</div>
        {% endif %}
        {% if photo.photoday %}
            <h2>Photoday</h2> ({{photo.photoday.photos.count()}})
            <div class="photodaylink">{{photo.photoday.vlink()|safe}}</div>
        {% endif %}
        <br>
</div></div>



{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}