{% extends 'jinja2/photo_base.html' %}
{% block title %}Photospot {{photospot}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
    var photos={{photo_objs|jsonify|safe}}
    //all photos
    </script>
    <script src="/static/js/photospot.js"></script>
{% endblock %}
{% block content %}
    
    <div class="main-zone" style="height:700px;">
        <div class="current-photo">&nbsp;</div>
    </div>
    
    <div class="thumbzone">
    <div style="float:left;"><h2>Spot {{photospot}} ({{photos.count()}})</h2></div>
    {% for photo in photos %}
        <div class="photolink photothumb" photo_id={{photo.id}}>{{photo.inhtml(size='thumb')|safe}}</div>
    {% endfor %}
    <div id="notification" style="clear:right;float:right;" class="notification-zone">Notification zone</div>
    <br><div class="btn prev-btn">prev</div>
    <div class="btn next-btn">next</div>
    <div class="btn save-crops">Save crops</div>    
    
    {% if LOCAL %}LOCAL{% endif %}
    
    </div>
    
    
{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}