{% extends 'jinja2/photo_base.html' %}
{% block title %}Ajax Photo Viewer{% endblock %}
{% block head %}{{super()}}
<script>
    full_phototags={{full_phototags|jsonify|safe}};
    delete_phototag_id={{delete_phototag_id}}
    done_phototag_id={{done_phototag_id}}
    screenshot_phototag_id={{screenshot_phototag_id}}
    TAGIDS_WHICH_FORCE_NEXT={{TAGIDS_WHICH_FORCE_NEXT|jsonify|safe}}
    TAGIDS_WHICH_FORCE_PREV={{TAGIDS_WHICH_FORCE_PREV|jsonify|safe}}
    full_photospots={{full_photospots|jsonify|safe}};
</script>
<script src="/static/js/photoajax.js"></script>

{% endblock %}
{% block content %}
<div style="padding:5px;margin-bottom:5px;">
        {% if LOCAL %}(Local){% endif %}
</div>
    <div id="notification" style="clear:right;float:right;" class="notification-zone ajax-notification-zone">Notification zone</div>
    <div class="tagzone" ><div class="spot-subzone">
        <form id="create-new-photospot-form" onsubmit="return false;">
            <input id="create-new-photospot-input" /><span class="glyphicon glyphicon-plus"></span>Add Photospot</a>
        </form>        
        <button id="photospotselect2" value=""></button>        
        </div><div class="tag-subzone">
            <h2>Tags</h2>    
            <button id="phototagselect2" value=""></button>        
            <br><br>
            <form id="create-new-tag-form" onsubmit="return false;">
                <input id="create-new-tag-input" /> <span class="glyphicon glyphicon-plus"></span>Add Tag</a>
            </form>
        </div>
        </div>
        <div class="infozone">
        </div>

    <p><div class="btn btn-default prev-btn">prev</div>
    
    <div class="btn btn-default next-btn">next</div></p>
    
    <div class="photozone">
        Photo Goes Here
    </div>
    
    
{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}