{% extends 'jinja2/photo_base.html' %}
{% block title %}Ajax Photo Viewer{% endblock %}
{% block head %}
    {{super()}}
<script>
showing=false;
full_phototags={{full_phototags|jsonify|safe}};
loaded_photos=[];
current_photo=null
past_photos=[]
TAGIDS_WHICH_FORCE_NEXT={{TAGIDS_WHICH_FORCE_NEXT|jsonify|safe}}
ii=0
function load_show(){
    //console.log('load show start')
    load(maybe_show)
    //console.log('load show end')
}

function load(donefunc){
    if (loaded_photos.length>4){return}
    ii=ii+1
    
    var fake=0
    if (fake){
        var fakephoto={tagids:[ii*3,ii*4+1],id:ii,fp:'/static/incomingphoto/'+ii+'.jpg',infozone:'<table class="table thintable"><tr><td>stuff</table>'}
        //receive fp, infobox.  add on a photo image.
        var im=new Image()
        im.height=500
        im.src=fakephoto.fp;
        fakephoto.image=im
        loaded_photos.push(fakephoto)
        if (donefunc){donefunc.call()}
    }else{
        var exclude_ids=[]
        $.each(loaded_photos, function(index,guy){exclude_ids.push(guy.id)})
        $.each(past_photos, function(index,guy){exclude_ids.push(guy.id)})
        if (current_photo){
            exclude_ids.push(current_photo.id)
        }
        if (!exclude_ids){exclude_ids=null}
        var dat={'kind':'ajax photo preload','smithee':'blather'}
        if (exclude_ids && exclude_ids.length){
            dat['exclude_ids']=exclude_ids
        }
        $.ajax({
            url:'/ajax/photo_data/',
            type:'post',
            data:dat,
            //processData:false,
            success:function(json){
                notify(json['message'],json['success'])
                if (json['success']){
                    notify('loaded',true)
                    var nextphoto=json.nextphoto
                    
                    var exi=false
                    $.each(loaded_photos, function(index, lp){
                        if (lp.id==nextphoto.id){
                            exi=true
                            console.log("got duplicate",nextphoto.fp)
                            return}
                    })
                    if (!exi){//we actually got a new one...
                        console.log("got new",nextphoto.fp)
                        loaded_photos.push(nextphoto)
                        var im=new Image()
                        im.height=500
                        im.src=nextphoto.fp;
                        nextphoto.image=im
                        if (donefunc){donefunc.call(json)}
                    }
                    load();
                }
            },
            error:function(json){
                notify('error',false);
            },
        });
    }
}


function maybe_show(){
    ////console.log('maybe show start')
    if (!showing){
        show_next()
    }
    load()
    ////console.log('maybe show end')
}

function show_prev(){
    var last=past_photos.pop()
    loaded_photos.unshift(last)
    show_next(true)
}

function show_next(going_backwards){
    ////console.log('show next start')
    next=loaded_photos.shift()
    ////console.log('got next',next)
    if (next){
        if (current_photo){
        
            if (going_backwards)
                {loaded_photos.unshift(current_photo)}   
            else{past_photos.push(current_photo)}
        }
        current_photo=next
        clear_infozone()
        clear_photozone()
        put_infozone(next)
        put_photozone(next)
        notify(next.fp,true);
        showing=true;
        reset_photo_tags();
    }else{
        notify('no photo was ready',false)
    }
    ////console.log('show next end')
    load();
}

$(document).ready(function(){
    load_show();
    setup_buttons();
    //setup_phototagselect(); //empty tags when first load, but all choices.
})

function pop_select2(){
    var select2=$('#phototagselect2').data('select2');
    setTimeout(function() {
        if (!select2.opened()) {
            select2.open();
        }
    }, 0); 
}

function reset_photo_tags(){
    ////console.log('reset photo tags start')
    var ptg=$('#phototagselect2');
    ptg.attr('value',current_photo.tagids.join(','))
    //completely fucking retarded that even if you setup initselection based, select2 won't call it
    //unless you ALSO define a "value" field on the select2 element, EVEN if you never use that!
    ptg.select2({data:full_phototags,
        multiple:true,
        initSelection: function(element,callback){
            callback(get_tags_for_current_photo())
        }
    })
    //first time you set it up its empty.  each re-getting data will re-set it.
    fix_phototags()
    ptg.unbind('change').on('change', change_phototag)
    pop_select2();
    ////console.log('reset photo tags end')
}

function get_tags_for_current_photo(){
    //console.log('get current tags start')
    //grab the tags from the full tag js object.
    var data = [];
    var ids = current_photo.tagids;
    $.each(ids, function(index,id){
        $.each(full_phototags, function(pindex, phototag){
            if (phototag.id==id){
                data.push(phototag);
            }
        })
    })
    
    //console.log('get current tags end',data)
    return data;
}

function maybe_goto_next(tagids){
    //console.log('tagids are',tagids);
    $.each(tagids, function(index, tagid){
        if (TAGIDS_WHICH_FORCE_NEXT.indexOf(parseInt(tagid))!=-1){
            show_next()
            return;
        }
    })
}

function change_phototag(e){
    //console.log('change phototag start')
    
    data_changed($(e.target), 'phototag');
    fix_phototags();
    maybe_goto_next($(e.target).attr('value').split(','))
    //console.log('change phototag end')
}

function data_changed(target, kind){
    var data={'kind':kind};
    if (kind=='phototag'){
        data['phototag_ids']=target.attr('value');
    }
    data['photo_id']=$(".photozone").attr('photo_id')
    send_data(data, target);
}

function send_data(data, target){
    $.ajax({
        url:'/ajax/photo_data/',
        type:'POST',
        data:data,
        success:function(dat){
            notify(dat['message'],dat['success']);
        },
        error:function(dat){
            notify('error',false);
        }
    });
}

function setup_buttons(){
    $('.next-btn').click(function(){
        show_next();
    })
    $('.prev-btn').click(function(){
        show_prev();
    })
}

function clear_infozone(){
    $('.infozone').empty()
}
function clear_photozone(){
    $('.photozone').empty()
}

function put_infozone(photo){
    //console.log('put infozone')
    $('.infozone').append(make_infozone(photo))
}
function put_photozone(photo){
    //console.log('put photozone')
    $('.photozone').append(make_photozone(photo))
    $('.photozone').attr('photo_id',photo.id)
}

function make_infozone(photo){
    return photo.infozone;
}

function make_photozone(photo){
    var photo=$(photo.image).wrap('<div class="photo">').parent()
    return photo
}




</script>

{% endblock %}
{% block content %}
<div style="padding:5px;margin-bottom:5px;">
        {% if LOCAL %}(Local){% endif %}
</div>

    <div id="notification" class="notification-zone">Notification zone</div>
    <div class="infozone">
    </div>
    <div class="photozone">
        Photo Goes Here
    </div>
    <div class="tagzone" >
    <h2>Tags</h2>
        <button id="phototagselect2" value=""></button><div class="new-tag-button btn"><a href="/admin/day/phototag/add/"><i class="icon-plus"></i>Add</a></div>
            <p><div class="btn prev-btn">prev</div>
<div class="btn next-btn">next</div></p>
    </div>
    
{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}