{% extends 'jinja2/photo_base.html' %}
{% block title %}Ajax Photo Viewer{% endblock %}
{% block head %}
    {{super()}}
<script>
    full_phototags={{full_phototags|jsonify|safe}};
    delete_phototag_id={{delete_phototag_id}}
    done_phototag_id={{done_phototag_id}}
    TAGIDS_WHICH_FORCE_NEXT={{TAGIDS_WHICH_FORCE_NEXT|jsonify|safe}}
    TAGIDS_WHICH_FORCE_PREV={{TAGIDS_WHICH_FORCE_PREV|jsonify|safe}}
    
    full_photospots={{full_photospots|jsonify|safe}};
</script>
<script src="/static/js/photoajax.js"></script>

{% endblock %}
{% block content %}
<div style="padding:5px;margin-bottom:5px;">
        {% if LOCAL %}(Local){% endif %}
</div>
    <div class="infozone">
    </div>
    <div id="notification" style="clear:right;float:right;" class="notification-zone">Notification zone</div>
    <div class="tagzone" >
    
    
    <form id="create-new-photospot-form" onsubmit="return false;">
        <input id="create-new-photospot-input" /><i class="icon-plus"></i>Add Photospot</a>
    </form>        
    
    <button id="photospotselect2" value=""></button>        
        
    <h2>Tags</h2>    
    <button id="phototagselect2" value=""></button>        
    <br><br>
    <form id="create-new-tag-form" onsubmit="return false;">
        <input id="create-new-tag-input" /> <i class="icon-plus"></i>Add Tag</a>
    </form>
    <p><div class="btn prev-btn">prev</div>
    <div class="btn next-btn">next</div></p>
    </div>
    <div class="photozone">
        Photo Goes Here
    </div>
    
    
{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/photo/photofooter.html" %}
{% endblock %}