*.pyc
local
trackenv
soft
trackerenv
backup
sp
static/sparklines
staticx
pw
backups
env
local_settings.py
build
dist
env
src
ipython
*.stackdump
logs/*.log
*.sql
*.sql.gz
nginx
incomingphoto
done_photo
deleted_photo
dbpw
photo_thumbs
static/bkincomingphoto