{% extends 'jinja2/day_base.html' %}
{% block title %}day{% endblock %}
{% block head %}
    {{super()}}
    <script>
        notekinds={{notekinds|jsonify|safe}};
        full_notekinds={{full_notekinds|jsonify|safe}};
    </script>
{% endblock %}
{% block content %}{% if LOCAL %}LOCAL{% endif %}
<div id="day_id" day_id="{{day.id}}"></div>
<div class="row">
    <div class="span5">
        <h2>{{day.date}} {{day.day()}}</h2>
    </div>
    <div class="span2">
        <div class="btn add-note">
            <i class="icon-plus"></i>
        </div>
    </div>
</div>
<div class="notezone">
{% for note in notes %}
    {% include "jinja2/noteedit.html" %}
{% endfor %}
</div>

<div class="row"><div class="span6">
    <div id="notification" class="notification-zone">&nbsp;</div>
</div></div>

<div class="row"><div class="span8">
    <h2>Purchases</h2>
    {% for pur in purchases %}
    {{pur.prodlink()|safe}}, {{name2hour[pur.hour]}}<br>
    {% endfor %}
    <br><a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/buy/purchase/add">add new</a>
</div></div>

<div class="row"><div class="span8">
<h2>Workouts</h2>
    {% for workout in day.getworkouts() %}
    {{workout.mysets()|safe}}<br>{% endfor %}
    <a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/workout/workout/add">add new</a><br>
</div></div>

<div class="row"><div class="span8">
    <h2>Measurements</h2>
    {% for measurement in day.getmeasurements() %}
    {{measurement.place.clink()|safe}} - {{measurement.amount}}<br>{% endfor %}
    <a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/workout/measurement/add">add new</a><br>
</div></div>


<div id="notemodel" class="note-row" note_id="new" style="display:none;"><div class="row"><div class="span6 note note-2"><textarea class="textarea" id="note" note_id="new"></textarea></div><div class="span2"><div class="notekindzone">   <div class="notekind-available"></div><button class="notekindselect new" value=""></button></div></div></div>
</div>

{% endblock %}
{% block footer %}{{super()}}{% include "jinja2/dayfooter.html" %}
{% endblock %}