{% extends 'jinja2/day_base.html' %}
{% block title %}{{day}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
        var today={{today|jsonify|safe}};
        var notekinds={{notekinds|jsonify|safe}};
        var full_notekinds={{full_notekinds|jsonify|safe}};
        var products={{products|jsonify|safe}};
        var sources={{sources|jsonify|safe}};
        var people={{people|jsonify|safe}};
        var currencies={{currencies|jsonify|safe}};
        var hours={{hours|jsonify|safe}};
        var hour={{hour|jsonify|safe}};
    </script>
{% endblock %}
{% block content %}{% if LOCAL %}LOCAL{% endif %}
<div id="day_id" day_id="{{day.id}}"></div>
<div class="row">
    <div class="span5">
        <h2>{{day.date}} {{day.day()}}</h2>
    </div>
    <div class="span2">
        <div class="btn add-note">
            <i class="icon-plus"></i>
        </div>
    </div>
</div>
<div class="notezone">
{% for note in notes %}
    {% include "jinja2/noteedit.html" %}
{% endfor %}
</div>

<div class="row"><div class="span6">
    <div id="notification" class="notification-zone">&nbsp;</div>
</div></div>

<div class="row"><div class="span6">
    <a href="/admin/day/notekind/add" class="btn">add notekind</a>
</div></div>

<div class="row"><div class="span8">
    <div class="purchase-list">
    <h2>Purchases</h2>
    </div>
    <br><a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/buy/purchase/add">add new</a>
    <div class="purchase-zone">
        <input id="product"></input>
        <input type=text style="width:30px;" id=cost></input>for
        <input type=text id=quantity style="width:20px;" value=1></input>
        <br>from <input id=source></input>
        <br>hour<input type=text id=hour value="{{hour}}"></input>
        <br>size<input type=text id=size  style="width:30px;"></input>
        <br>with<input id=who_with></input>
        <br>note<input type=text id=note></input>
        <br>currency<input type=text id=currency></input>
        <br><div class="btn make-purchase">Make</div>
    </div>
</div></div>

<div class="row"><div class="span8">
<h2>Workouts</h2>
    {% for workout in day.getworkouts() %}
    {{workout.mysets()|safe}}<br>{% endfor %}
    <a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/workout/workout/add">add new</a><br>
</div></div>

<div class="row"><div class="span8">
    <h2>Measurements</h2>
    {% for measurement in day.getmeasurements() %}
    {{measurement.place.clink()|safe}} - {{measurement.amount}}<br>{% endfor %}
    <a class="btn" href="{{ADMIN_EXTERNAL_BASE}}/workout/measurement/add">add new</a><br>
</div></div>


<div id="notemodel" class="note-row" note_id="new" style="display:none;">
    <div class="row"><div class="span6 note note-2">
    <textarea class="textarea" id="note" note_id="new"></textarea></div>
    <div class="span2"><div class="notekindzone">
    <div class="notekind-available"></div>
    <button class="notekindselect" value=""></button></div></div></div>
</div>

{% endblock %}
{% block footer %}{{super()}}{% include "jinja2/dayfooter.html" %}
{% endblock %}