<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}{{title}}{% endblock %}</title>
{% block head %}

<script src='/static/js/jquery.js'></script>
<script src='/static/js/day_funcs.js'></script>
<script src='/static/js/jquery.sparkline.min.js'></script>
<script src='/static/js/day.js'></script>
<script src='/static/js/util.js'></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/tracker.css" />
<link rel="stylesheet" type="text/css" href="/static/css/day.css" />
<script src='/static/js/select2.js'></script>
<link rel="stylesheet" type="text/css" href="/static/css/select2.css" />
{% endblock %}
</head>
<body><div class="container">{% block content %}
{% endblock %}
{% block footer %}<hr>
{% endblock %}</div>
</body>