<div class="footer dayfooter">
        <div class="daynav"><a class="btn" href="/aday/{{day.plus(days=-1)}}/">past day</a><a class="btn"  href="/aday/{{day.plus(days=1)}}/">next day</a></div>
        <div class="weeknav"><a class="btn"  href="/aday/{{day.plus(days=-7)}}/">past week</a><a class="btn"  href="/aday/{{day.plus(days=7)}}/">next week</a></div>
        <div class="weeknav"><a class="btn"  href="/aday/{{day.plus(months=-1)}}/">past month</a><a class="btn"  href="/aday/{{day.plus(months=1)}}/">next month</a></div>
        <div class="bignav"><a class="btn"  href="/aday/{{day.plus(years=-1)}}/">past year</a><a class="btn"  href="/aday/{{day.plus(years=1)}}/">next year</a></div>
        <div class="bignav"><a class="btn"  href="/today/">today</a><a class="btn"  href="/states/">states</a></div>
        <div class="bignav"><a class="btn"  href="/recent_connections/">recent people</a></div>
        <div class="bignav"><a class="btn"  href="/amonth/{{day.plus(months=0)}}">this month summary</a></div>
        <div class="bignav"><a class="btn"  href="/amonth/{{day.plus(months=-1)}}">last month summary</a></div>
        <div class="bignav"><a class="btn"  href="/people_connections/">people connections</a></div>
        <div class="bignav"><a href="/photo/incoming/">incoming photos</a></div>
</div>