<div class="footer dayfooter">
        <div class="daynav"><a class="btn btn-default" href="/aday/{{day.plus(days=-1)}}/">past day</a><a class="btn btn-default"  href="/aday/{{day.plus(days=1)}}/">next day</a></div>
        <div class="weeknav"><a class="btn btn-default"  href="/aday/{{day.plus(days=-7)}}/">past week</a><a class="btn btn-default"  href="/aday/{{day.plus(days=7)}}/">next week</a></div>
        <div class="weeknav"><a class="btn btn-default"  href="/aday/{{day.plus(months=-1)}}/">past month</a><a class="btn btn-default"  href="/aday/{{day.plus(months=1)}}/">next month</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/aday/{{day.plus(years=-1)}}/">past year</a><a class="btn btn-default"  href="/aday/{{day.plus(years=1)}}/">next year</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/today/">today</a><a class="btn btn-default"  href="/states/">states</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/recent_connections/">recent people</a><a class="btn btn-default"  href="/people_connections/">people</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/month_connections/">month people</a><a class="btn btn-default"  href="/initial_annual/">year ppl initial</a></div>
        <!--<div class="bignav"><a class="btn btn-default"  href="/anon_annual/">year ppl anon</a></div>-->
        <div class="bignav"><a class="btn btn-default"  href="/themonth/{{day.plus(months=0)}}">this month</a><a class="btn btn-default"  href="/themonth/{{day.plus(months=-1)}}">last month</a>
        <div class="bignav"><a class="btn btn-default"  href="/theyear/{{day.plus(months=0)}}">this year</a><a class="btn btn-default"  href="/theyear/{{day.plus(months=-12)}}">last year</a>
        <div class="bignav"><a class="btn btn-default"  href="/prevmonth/{{day.plus(months=0)}}">prev month</a><a class="btn btn-default"  href="/prevyear/{{day.plus(months=0)}}">prev year</a>
        
        <br><a class="btn btn-default" href="/photo/incoming/">incoming</a><a class="btn btn-default" href="/admin/day/person/?created__year={{day.date.year}}&created__month={{day.date.month}}">people db</a></div>
        
        
        
</div>