{% extends 'jinja2/day_base.html' %}
{% block title %}{{startshow}} - {{endshow}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
    </script>
{% endblock %}
{% block content %}{% if LOCAL %}LOCAL{% endif %}

<h2>{{startshow}}</h2>


{{domaintable|safe}}

<h2>{% if monthtotal<0%}Saved  {{monthtotal}}{% else %}Spent {{monthtotal}}{% endif %}</h2>

<table class="table thintable">
<tr><td>day<td>tags{% for spot in spots %}<td>{{spot.name}}{% endfor %}
{% for day in days %}
<tr><td>{{day.vlink()|safe}}
<td>{% for note in day.notes.all()%}
    {% for nk in note.kinds.all()%}
        {{nk.name}}
    {% endfor %}
{% endfor %}
{% for spot in spots %}
    {% set ments=day.getmeasurements().filter(place=spot) %}
    <td class="rightborder right big">
    {% if ments %}
    {% for ment in ments %}{{ment.get_amount()}}{% endfor %}
    {% endif %}

{% endfor %}
</tr>
{% endfor %}
</table>
<div class="notification fixed-notification">
</div>

{% endblock %}
{% block footer %}{{super()}}{% include "jinja2/monthfooter.html" %}
{% endblock %}