<div class="footer dayfooter">
        <div class="weeknav"><a class="btn btn-default"  href="/amonth/{{pastmonth}}/">past month</a><a class="btn btn-default"  href="/amonth/{{nextmonth}}/">next month</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/today/">today</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/recent_connections/">recent people</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/people_connections/">people connections</a></div>
</div>