{% extends 'jinja2/day_base.html' %}
{% block title %}{{startshow}} - {{endshow}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
    </script>
{% endblock %}
{% block content %}{% if LOCAL %}LOCAL{% endif %}

<h2>{{startshow}}</h2>


{{domaintable|safe}}

<h2>{% if monthtotal<0%}Saved  {{monthtotal}}{% else %}Spent {{monthtotal}}{% endif %}</h2>
#purchases summary by domain

#notes

#possibly prompts & direct links to update shit?



<div class="notification fixed-notification">
</div>

{% endblock %}
{% block footer %}{{super()}}{% include "jinja2/monthfooter.html" %}
{% endblock %}