{% extends 'jinja2/day_base.html' %}
{% block title %}All Sources{% endblock %}
{% block head %}
    {{super()}}
    <style>
    td {padding:3px;}
    tr {border-bottom:lightblue 2px dashed;}
    .popbar{
        display:inline-block;
        background-color:lightblue;
        height:10px;
        }
    </style>
{% endblock %}

{% block content %}
{% if LOCAL %}<a class="btn-default btn" href="http://tracker{{path}}" target=_blank>live</a>{% endif %}
<div class="ib left clear">
    <div>
        <h2>Newness Timeline</h2>
    </div>
</div>

<div class="notification fixed-notification">
</div>

<table>
<tr><td>Span<td>People<td>Source<td>Product</td><td>All regions<td>purch count</tr>
{% for key in keys %}
    <tr><td class=nb>{{key}}
    <td>
        {% for person in people[key]['queryset'] %}
            <div>
                {{person.clink()|safe}}
                <span class="popbar" style="width:{{person.rough_purchase_count}}px"></span>
            </div>
            {% if not loop.last %}
                <br>
            {% endif %}
        {% endfor %}
    <td>{% if source[key] %}
            {% for source in source[key]['queryset'] %}
                {{source.clink()|safe}}
            {% endfor %}
        {% endif %}
    <td>{% if product[key]%}
            {% for product in product[key]['queryset'] %}
                {{product.clink()|safe}}
            {% endfor %}
        {% endif %}
    <td>{% if regions[key]%}
            {% for region in regions[key]['queryset'] %}
                {{region|safe}}
            {% endfor %}
        {% endif %}
    <td>
    {% if key in purchases %}
        {{purchases[key]['count'] }}
    {% endif %}
{% endfor %}

</table>

{% endblock %}

{% block footer %}{{super()}}
<div class="ib left clear">
</div>
{% endblock %}