{% extends 'jinja2/people_base.html' %}
{% block title %}Connections{% endblock %}
{% block head %}
    {{super()}}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/d3.v3.js"></script>
	<script src="/static/js/day-d3.utils.js"></script>
	<script src="/static/js/day-d3.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/day-d3.css" />
	<script>
        var all_nodes={{nodes|jsonify|safe}};
        var all_edges={{edges|jsonify|safe}};
    </script>

{% endblock %}

{% block content %}
<div id="control-area">{% if LOCAL %}LOCAL{% endif %}

	<div class="button btn" id="perturb">perturb</div>
	<div class="button btn" id="untangle">untangle</div>

</div>

<div id="people-graph"></div>

{% endblock %}
{% block footer %}{{super()}}
{% endblock %}