{% extends 'jinja2/people_base.html' %}
{% block title %}Connections{% endblock %}
{% block head %}
    {{super()}}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/d3.v3.js"></script>
	<script src="/static/js/day-d3.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/day-d3.css" />
	<script>
        var nodes={{nodes|jsonify|safe}};
		//var rawnodes={{rawnodes|jsonify|safe}};
        var edges={{edges|jsonify|safe}};
    </script>

{% endblock %}

{% block content %}
<div id="control-area">{% if LOCAL %}LOCAL{% endif %}</div>
<div id="people-graph"></div>

{% endblock %}
{% block footer %}{{super()}}
{% endblock %}