{% extends 'jinja2/day_base.html' %}
{% block title %}{{startshow}} - {{endshow}}{% endblock %}
{% block head %}
    {{super()}}
    <script>
    </script>
    <style>
    .container{width:100%;}
    
    </style>
{% endblock %}
{% block content %}{% if LOCAL %}LOCAL{% endif %}

<h2>{{startshow}}</h2>


{{domaintable|safe}}

<h2>Saved {{saved}}</h3>
<h3>{{saverate}}% saving</h3>

{% if monthpeople %}
    {% for person in monthpeople %}
        <span style="float:left;height:30px;width:220px;">{{person.colored_clink(newperson=person.newperson)|safe}} ({{person.month_purchase_count}})</span>
    {% endfor %}
{% endif %}

{% if days %}
<table class="table thintable">
    <tr><td style="width:50px;">day<td>spent<td>tags{% for spot in spots %}<td class="leftborder middle">{{spot.clink(skip_btn=True, wrap=True,text=spot.name)|safe}}{% endfor %}
    {% for day in days %}
    <tr><td>{{day.vlink()|safe}}
        <td><a href="../../admin/day/purchase/?created__month={{day.date.month}}&created__year={{day.date.year}}&created__day={{day.date.day}}">{{day.total_spend()|safe}}</a>
        <td>{% for nk in day.get_notekinds()%}
            {{nk[0]}} {% if nk[1]==1%}
            {% else %}({{nk[1]}}){% endif %}
          {% endfor %}
    
        {% for spot in spots %}
            {% set ments=day.getmeasurements().filter(spot=spot) %}
            <td class="leftborder middle big">
            {% if ments %}
            {% for ment in ments %}{{ment.get_amount()}}{% endfor %}
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

<div class="notification fixed-notification">
</div>

<table>
{% for tag, count in span_tags %}
    <tr><td>{{tag.clink(text=tag.name+' db')|safe}}<td><a href="../../photo/photoset/{{tag.name}}/">{{tag.name}}</a><td>{{count}}
{% endfor %}
</table>

{% endblock %}

{% block footer %}{{super()}}{% include "jinja2/timespan_footer.html" %}
{% endblock %}