<div class="footer dayfooter">
        <div class="weeknav"><a class="btn btn-default"  href="/themonth/{{pastmonth}}/">past month</a><a class="btn btn-default"  href="/themonth/{{nextmonth}}/">next month</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/today/">today</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/recent_connections/">recent people</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/people_connections/">people connections</a></div>
        <div class="bignav"><a class="btn btn-default"  href="/prevmonth/{{day.plus(months=0)}}">from 1 month ago</a>
        <div class="bignav"><a class="btn btn-default"  href="/prevyear/{{day.plus(months=0)}}">from 1 year ago</a>
        <div class="bignav"><a class="btn btn-default"  href="/alltime/">all time</a>
</div>