html {height:99%;}

.notification-zone{display:inline-block;height:70px;}

.footer{position:fixed; bottom:100px;right:100px;}

.textarea{
    width:450px;
    height:180px;
}

.select2-container{width:300px;}

.fixed-notification{
    bottom:300px;
    right:100px;
    width:300px;
    display:inline-block;
    position:absolute;
}

.price-autochooser{
    width:28px;
    text-align:center;
}

.autochooser{
    border:2px solid #88d;
    padding:3px;
    margin:1px;
    cursor:pointer;
    float:left;
    border-radius:4px;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.autochooser:hover{
    background:#aae;
}

.dayfooter .btn{width:100px;}

.nb {white-space:nowrap;}

.link{
    stroke:#999;
    stroke-opacity:0.5;
}

#people-graph{border:1px solid grey;display:inline-block;}

.d3-person-label{
    background:white;
    border-radius:3px;
	font-family:Calibri;
	font-size: 1.4em;
	border:2px solid blue;
}

#control-area{
	display:inline-block;
	float:left;
	border:2px solid lightblue;
	border-radius:4px;
	width:100px;
}

.big{font-size:1.3em;}
.thintable .right{text-align:right;}