.notification-zone{display:inline-block;height:70px;}

.footer{position:fixed; bottom:100px;right:100px;}

.textarea{
    width:450px;
    height:180px;
}

.select2-container{width:300px;}

.purchase{display:block;}

.fixed-notification{
    bottom:300px;
    right:100px;
    width:300px;
    display:inline-block;
    position:absolute;
}

.autochooser{
    border:3px solid #88d;
    padding:3px;
    margin:1px;
    cursor:pointer;
    float:left;
    border-radius:4px;
}

.autochooser:hover{
    background:red;
}