div {box-sizing:border-box;}
.photo-display{}
.photolink {border:2px solid steelblue;border-radius:3px;padding:3px;display:inline-block;margin-bottom;3px;}
.photo-info{float:right;}
.big{font-size:2em;}
.photofooter{position:fixed; bottom:120px;left:10px;height:90px;width:100px;}

.infozone{width:300px;float:right;display:inline-block;}
.tagzone{clear:both;float:right;margin-top:40px;}
.photozone{text-align:center;}

.active-photo{border:3px dashed red;}